* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  color: white;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  button {
    color: #b465da;
    cursor: pointer;
    transition: all 0.3s ease;
    background: white;
    &:hover {
      color: white;
      background-color: #b465da;
    }
  }
}
